<form class="form" [formGroup]="productForm" (ngSubmit)="submitForm()">

  <div class="p-grid nested-grid p-fluid" [ngClass]="{'dialog-flex' : !isUpdate}">
    <div class="p-col-12 p-sm-12 p-md-12 p-xl-8">
      <div class="p-grid p-fluid">
        <div class="p-col-4">
          <label for="reference" class="label-required">Reference</label>
          <input id="reference" type="text" pInputText formControlName="reference">
        </div>

        <div class="p-col-8">
          <label for="label" class="label-required">Label</label>
          <input id="label" type="text" pInputText formControlName="label">
        </div>
      </div>
      <div class="p-grid p-fluid" *ngIf="isUpdate">
        <div class="p-col-3">
          <label for="quantity" class="label-required">Total quantity</label>
          <p-inputNumber id="quantity" [showButtons]="true" formControlName="quantity"
            (onInput)="calcAvailableQuant()" (keyup)="calcAvailableQuant()"></p-inputNumber>
        </div>

        <div class="p-col-3">
          <label for="availableQuantity">Available quantity</label>
          <p-inputNumber id="availableQuantity" [showButtons]="false" formControlName="availableQuantity">
          </p-inputNumber>
        </div>

        <div class="p-col-3">
          <label for="reservedQuantity">Reserved quantity</label>
          <p-inputNumber id="reservedQuantity" [showButtons]="false" formControlName="reservedQuantity"></p-inputNumber>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-3 ">
          <label for="purchasePriceHT" class="label-required">Purchase price (HT)</label>
          <p-inputNumber id="purchasePriceHT" mode="currency" currency="EUR" locale="en-US"
            formControlName="purchasePriceHT" min="0" (onFocus)="$event.target.select()" (click)="$event.target.select()"
            (keyup)="onPurchasePriceInput($event.target.value)"></p-inputNumber>
        </div>

        <div class="p-col-3">
          <label for="salePriceHT" class="label-required">Sale price (HT)</label>
          <p-inputNumber id="salePriceHT" mode="currency" currency="EUR" locale="en-US" formControlName="salePriceHT"
            min="0" (onFocus)="$event.target.select()" (click)="$event.target.select()"
            (keyup)="onSalePriceInput($event.target.value)"></p-inputNumber>
        </div>

        <div class="p-col-3 ">
          <label for="salePriceTTC" class="label-required">Sale price (TTC)</label>
          <p-inputNumber id="salePriceTTC" mode="currency" currency="EUR" locale="en-US" formControlName="salePriceTTC"
            min="0" (onFocus)="$event.target.select()" (click)="$event.target.select()"></p-inputNumber>
        </div>

        <div class="p-col-3">
          <label for="margin" class="label-required">Margin</label>
          <p-inputNumber id="margin" mode="currency" currency="EUR" locale="en-US" formControlName="margin"
            (onFocus)="$event.target.select()" (click)="$event.target.select()"
            (keyup)="onMarginInput($event.target.value)"></p-inputNumber>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-sm-12 p-md-12 p-xl-4 p-fluid">
      <label for="note">Note</label>
      <textarea id="note" pInputTextarea [rows]="8" formControlName="note"></textarea>
    </div>
  </div>



  <footer class="p-grid">
    <button pButton pRipple type="button" label="Cancel" class="p-button-secondary" (click)="onCancel()"
      *ngIf="!isUpdate"></button>
    <button pButton pRipple type="submit" icon="pi pi-save" label="Save"
      [disabled]="productForm.invalid || (!currentProduct && isUpdate)"></button>
    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" *ngIf="currentProduct"
      (click)="deleteProduct()"></button>
  </footer>
</form>