<div class="form">
  <div class="p-grid p-fluid">
    <div class="p-col-12 selector">
      <p-autoComplete appendTo="body" [(ngModel)]="selectedLightSupplier" [suggestions]="lightSuppliersFiltered"
        (completeMethod)="searchSupplier($event.query)" field="name" [dropdown]="true" placeholder="Select Supplier">
      </p-autoComplete>
    </div>
  </div>

  <footer class="p-grid">
    <button pButton pRipple type="button" label="Cancel" class="p-button-secondary" (click)="ref.close()"></button>
    <button pButton pRipple type="submit" icon="pi pi-save" label="Save" (click)="onNewOrderSave()"
      [disabled]="!selectedLightSupplier"></button>
  </footer>
</div>