.content {
  display: flex;
  flex-direction: column;

  > * {
    margin: 1rem 0;
  }

  .supplier-general-panel {
    
    .supplier-general {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    
      > div {
        margin: 0 1rem;
      }  
      
      .inline {
        display: flex;
        margin: 0.5rem 0;
      
        div:first-child {
          width: 8rem;
        }
        div:last-child {
          font-weight: 800;
        }
      }

    }
  }

  .supplier-Bills-panel {
    .p-panel-content {
      padding: 0;
    }
  }
}
