<div class="page">
  <div class="cont">

    <div class="box" routerLinkActive="active" routerLink='/products'>
      <i class="fas fa-cubes"></i>
      <div class="link-text">Stock</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/workforce'>
      <i class="fas fa-briefcase"></i>
      <div class="link-text">Workforce</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/clients'>
      <i class="fas fa-user-tie"></i>
      <div class="link-text">Clients</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/cars'>
      <i class="fas fa-car"></i>
      <div class="link-text">Cars</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/worksheets'>
      <i class="fas fa-file-contract"></i>
      <div class="link-text">Worksheets</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/billing'>
      <i class="fas fa-file-invoice-dollar"></i>
      <div class="link-text">Billing</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/suppliers'>
      <i class="fas fa-parachute-box"></i>
      <div class="link-text">Suppliers</div>
    </div>

    <div class="box" routerLinkActive="active" routerLink='/orders'>
      <i class="fas fa-shopping-cart"></i>
      <div class="link-text">Orders</div>
    </div>

  </div>
</div>