.navbar {
  background-color: var(--slgGreen);
  padding: 0 1rem;

  * {
      color: white;
      font-size: 18px;
  }

  .logo {
    margin: 0;
    display: flex;
    align-items: center;
    img {
        border-radius: 50%;
        height: 40px;
        width: auto;
    }
  }

  .brand {
      font-size: larger;
      font-weight: bold;
  }

  .navbar-item {
      margin: 0.1rem 0.5rem 0 0.5rem;
  }

  .navbar-menu .navbar-item:hover {
      background-color: var(--slgGreen);
      div {
          color: var(--slgYellow);
          transform: scale(1.2);
      }
  }
}

