<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <div class="logo" routerLink="">
        <img src="../../../../assets/img/SLG_logo.jpg" alt="loge SLG-classic-cars">
      </div>
      <a class="navbar-item" routerLink="">
          <div class="brand">
              SLG Manager
          </div>
      </a>

  </div>

  <div id="mainNavigation" #navMenu class="navbar-menu">
      <div class="navbar-start">
        <!--<a class="navbar-item" *ngIf="auth.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="projects">
              Projects
          </a>

          <a class="navbar-item" *ngIf="auth.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="issues">
              Issues
          </a>

          <a class="navbar-item" *ngIf="auth.hasMinAccess('admin')" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="users">
              Users
          </a>-->
      </div>

      <div class="navbar-end">
          <a class="navbar-item" *ngIf="auth.isLoggedIn()" (click)="onLogout()">
              <div>Log out</div>
          </a>
      </div>
  </div>
</nav>