<form class="form" [formGroup]="companyForm">
  <h2>Company information</h2>

  <div class="p-grid p-fluid">
    <div class="p-col-4">
      <label for="type" class="label-required">Type</label>
      <p-dropdown id="type" appendTo="body" [options]="companyType" optionLabel="label" optionValue="value"
        class="formSelect" formControlName="type" placeholder="Select Type">
      </p-dropdown>
    </div>

    <div class="p-col-8">
      <label for="name" class="label-required">Company name</label>
      <input id="name" type="text" pInputText formControlName="name">
    </div>
  </div>

  <div class="p-grid p-fluid">
    <div class="p-col-6">
      <label for="email" class="label-required">Email</label>
      <input id="email" type="email" pInputText formControlName="email">
    </div>

    <div class="p-col-6">
      <label for="VAT">VAT n°</label>
      <input id="VAT" type="text" pInputText formControlName="VAT">
    </div>
  </div>

  <div class="p-grid p-fluid">
    <div class="p-col-4">
      <label for="phone1">Phone 1</label>
      <input id="phone1" type="text" pInputText formControlName="phone1">
    </div>

    <div class="p-col-4">
      <label for="phone2">Phone 2</label>
      <input id="phone2" type="text" pInputText formControlName="phone2">
    </div>

    <div class="p-col-4">
      <label for="mobile">Mobile</label>
      <input id="mobile" type="text" pInputText formControlName="mobile">
    </div>
  </div>
  <div class="p-grid p-fluid">
    <div class="p-col-6">
      <label for="website">Website</label>
      <input id="website" type="text" pInputText formControlName="website">
    </div>
    <div class="p-col-6">
      <label for="person">Owner/Contact</label>
      <p-autoComplete appendTo="body" [suggestions]="personsListFiltered" field="displayName"
        (completeMethod)="searchClient($event.query)" formControlName="person" [dropdown]="true"></p-autoComplete>
    </div>
  </div>
</form>