<form class="form" [formGroup]="workforceForm" (ngSubmit)="submitForm()">

  <div class="p-grid nested-grid">
    <div class="p-col-12 p-sm-12 p-md-12 p-xl-8 ">
      <div class="p-grid p-fluid">
        <div class="p-col-8">
          <label for="label" class="label-required">Label</label>
          <input id="label" type="text" pInputText formControlName="label">
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-3">
          <label for="priceHT" class="label-required">Price (HT)</label>
          <p-inputNumber id="priceHT" mode="currency" currency="EUR" locale="en-US" formControlName="priceHT"
            min="0" (onFocus)="$event.target.select()" (click)="$event.target.select()">
          </p-inputNumber>
        </div>

        <div class="p-col-3 ">
          <label for="priceTTC" class="label-required">Price (TTC)</label>
          <p-inputNumber id="priceTTC" mode="currency" currency="EUR" locale="en-US" formControlName="priceTTC"
            min="0" (onFocus)="$event.target.select()" (click)="$event.target.select()">
          </p-inputNumber>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-sm-12 p-md-12 p-xl-4 p-fluid">
      <label for="note">Note</label>
      <textarea id="note" pInputTextarea [rows]="5" formControlName="note"></textarea>
    </div>
  </div>



  <footer class="p-grid">
    <button pButton pRipple type="button" label="Cancel" class="p-button-secondary p-col-1" (click)="onCancel()"
      *ngIf="!isUpdate && auth.hasMinAccess(EUserRoles.USER)"></button>
    <button pButton pRipple type="submit" icon="pi pi-save" label="Save"
      [disabled]="workforceForm.invalid || (!currentWorkforce && isUpdate)" *ngIf="auth.hasMinAccess(EUserRoles.USER)"></button>
    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-col-1" *ngIf="currentWorkforce && auth.hasMinAccess(EUserRoles.USER)"
      (click)="deleteWorkforce()"></button>
  </footer>
</form>