.main {
    width: 100vw;
    height: 100vh;
    //background-color: var(--slgGreen);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    padding: 3rem;
    

    .field {
        width: 60%;
        margin: 0;

        .control .button {
            display: block;
            margin: 0 auto;
        }
    }
}