<div class="page">
    <h1>STOCK</h1>
    
    <div class="control">
        <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search Product" (click)="refreshProducts()"/>
        </div>
        <button pButton pRipple type="button" icon="pi pi-plus" label="New product" (click)="showNewProductModal()"></button>
    </div>

    <p-panel header="Edit product" class="form" [toggleable]="true">
        <app-product-form [currentProduct]="selectedProduct" [isUpdate]=true (refreshTable)="refreshProducts()"></app-product-form>
    </p-panel>
    
    <div class="dtable">
        <p-table #dt 
            [columns]="cols"
            [value]="products"
            [autoLayout]="true"
            [scrollable]="true"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10,25,50]" 
            [globalFilterFields]="['reference','label']"
            [customSort]="true"
            [sortField]="cols[0].field"
            (sortFunction)="customSort($event)"
            selectionMode="single"
            [(selection)]="selectedProduct" 
            styleClass="p-datatable-sm"
            [loading]="loadingData"
            >

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
</div>