
* {
    margin: 0;
    padding: 0;
    list-style: none;

    --slgGreen: rgb(64, 94, 71);
    --mainGreen: rgba(172, 255, 47, 0.8); 
    //--mainGreen: #8CFF7A;;
    --secGreen: #D1FFD5; 
    --mainBlue: #0066CC;
    --secBlue: #61C8FF;
    --sec2Blue: #005285;


}

html, body {
    color: black;
    background-color: white;
    background-attachment:fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    width: 100vw;
    height: 100%;
    max-width: 100% !important;
    -webkit-text-size-adjust: 100vw !important;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    width: 0px;                 /* Remove scrollbar space */
    background: transparent;    /* Optional: just make scrollbar invisible */
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.formError {
    color: rgba(218, 0, 0, 0.781);
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
}
