
* {
    margin: 0;
    padding: 0;
    list-style: none;

    --slgGreen: rgb(64, 94, 71);
    --slgYellow: yellow;
}

html, body {
    color: black;
    background-color: white;
    background-attachment:fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    width: 100vw;
    height: 100%;
    max-width: 100% !important;
    -webkit-text-size-adjust: 100vw !important;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    width: 0px;                 /* Remove scrollbar space */
    background: transparent;    /* Optional: just make scrollbar invisible */
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.formError {
    color: rgb(218, 0, 0);
    font-size: 1.1rem;
    text-align: center;
}

.button {
    color: white;
    border-color: transparent;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    width: auto;
    cursor: pointer;
}
 
.button:hover:not([disabled]) {
    filter: brightness(90%);
}

.button:disabled,
.button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
}

.button-secondary {
    background: rgb(66, 184, 221);
}
