
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    color: black;
    background-color: white;
    background-attachment:fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    width: 100vw;
    height: 100%;
    max-width: 100% !important;
    -webkit-text-size-adjust: 100vw !important;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    width: 0px;                 /* Remove scrollbar space */
    background: transparent;    /* Optional: just make scrollbar invisible */
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 2.5rem;
    font-weight: 500;
}