.form {

  label {
    white-space: nowrap;
  }

  .label-required:after{
    content: " *";
    color: red;
  }

  footer {
    justify-content: flex-end;
    button {
      margin: 0 0.5rem;
    }
  }

  .dialog-flex {
    display: flex;
    flex-direction: column;
    
    > div {
      width: 100%;
    }
  }

  textarea {
    resize: none;
  }
  
}

