<div class="page">
  <h1>CLIENT DETAIL</h1>

  <button pButton pRipple type="button" icon="pi pi-arrow-left" label="Clients"
    class="p-button-sm p-button-info p-button-text" (click)="router.navigate(['clients']);"></button>

  <div class="content" *ngIf="client">

    <p-panel class="client-general-panel" header="General information" [toggleable]="true">
      <div class="client-general">
        <div>
          <div class="inline" *ngIf="!client.isCompany">
            <div>Civility:</div>
            <div>{{client.civility}}</div>
          </div>
          <div class="inline" *ngIf="!client.isCompany">
            <div>First name:</div>
            <div>{{client.firstName}}</div>
          </div>
          <div class="inline" *ngIf="!client.isCompany">
            <div>Last name:</div>
            <div>{{client.lastName}}</div>
          </div>
          <div class="inline" *ngIf="client.isCompany">
            <div>Type:</div>
            <div>{{ECompanyDisplayType[client.type]}}</div>
          </div>
          <div class="inline" *ngIf="client.isCompany">
            <div>Company name:</div>
            <div>{{client.name}}</div>
          </div>
          <div class="inline" *ngIf="client.VAT">
            <div>VAT n°:</div>
            <div>{{client.VAT}}</div>
          </div>
          <div class="inline" *ngIf="client.isCompany">
            <div>Owner/contact:</div>
            <div>
              <a routerLink="/clients/person/{{client.person?.id}}/detail">{{client.person?.lastName}}
                {{client.person?.firstName}}</a>
            </div>
          </div>
          <div class="inline">
            <div>Id:</div>
            <div>{{client.id}}</div>
          </div>
        </div>

        <div>
          <div class="inline">
            <div>Email:</div>
            <div><a href="mailto:{{client.email}}">{{client.email}}</a></div>
          </div>
          <div class="inline" *ngIf="!client.isCompany">
            <div>Phone:</div>
            <div>{{client.phone}}</div>
          </div>
          <div class="inline" *ngIf="client.isCompany">
            <div>Phone 1:</div>
            <div>{{client.phone1}}</div>
          </div>
          <div class="inline" *ngIf="client.isCompany">
            <div>Phone 2:</div>
            <div>{{client.phone2}}</div>
          </div>
          <div class="inline">
            <div>Mobile phone:</div>
            <div>{{client.mobile}}</div>
          </div>
          <div class="inline" *ngIf="client.isCompany">
            <div>Website:</div>
            <div><a href="https://{{client.website}}" target="_blank">{{client.website}}</a></div>
          </div>
        </div>

        <div>
          <div class="inline">
            <div>Country:</div>
            <div>{{client.address?.country}}</div>
          </div>
          <div class="inline">
            <div>City:</div>
            <div>{{client.address?.city}}</div>
          </div>
          <div class="inline">
            <div>ZIP:</div>
            <div>{{client.address?.zipCode}}</div>
          </div>
          <div class="inline">
            <div>Street:</div>
            <div>{{client.address?.streetAddress}}</div>
          </div>
        </div>
      </div>
    </p-panel>

    <p-panel class="client-cars-panel" header="Cars" [toggleable]="true">
      <div class="dtable">
        <p-table #dt [columns]="carCols" [value]="cars" [autoLayout]="true" [paginator]="true" [scrollable]="true"
          [rows]="10" [rowsPerPageOptions]="[10,25,50]"
          [globalFilterFields]="['make','model','owner', 'registrationNumber', 'chassisNumber']" selectionMode="single"
          [sortField]="carCols[0].field" styleClass="p-datatable-sm" [loading]="loadingData">

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th style="width: 3rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" (dblclick)=showCarInfoPage(rowData)>
              <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                {{rowData[col.field]}}
              </td>
              <td style="width: 3rem;">
                <button pButton pRipple type="button" icon="pi pi-info" class="p-button-info p-button-sm"
                  title="Detailed information (history, ...) " (click)="showCarInfoPage(rowData)"></button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </p-panel>

    <p-panel class="client-worksheets-panel" header="Worksheets" [toggleable]="true">
    </p-panel>

    <p-panel class="client-Bills-panel" header="Bills" [toggleable]="true">
    </p-panel>

  </div>

</div>