
.productStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 1.5rem;
  font-weight: 800;
  color: white;
  border-radius: 20px;
}

.status-pending {
  background-color: rgb(170, 170, 170);
}

.status-ordered {
  background-color: var(--secColor1);
}

.status-received {
  background-color: var(--mainColor1);
}

.status-BO {
  background-color: orange;
}

.control {
  .myLabel {
    margin-right: 0.5rem;
    font-weight: 600;
    color: #495057;
  }

  .btns {
    display: flex;

    button{
      margin: 0 0.5rem;
    }
  }
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

