<div class="page">
  <h1>ORDER DETAIL</h1>

  <button pButton pRipple type="button" icon="pi pi-arrow-left" label="Orders" class="p-button-sm p-button-info p-button-text"
    (click)="router.navigate(['orders']);"></button>

  <div class="control">
    <div class="supplier inline">
      <label class="myLabel">Supplier:</label>
      <a routerLink="/suppliers/{{order?.supplier.id}}/detail"><span class="supplier-name">{{order?.supplier.name}}</span></a>
    </div>

    <div class="inline">
      <label class="myLabel">Status:</label>
      <span class="orderStatus" [ngClass]="{
        'order-status-open': (order?.status === EOrderStatus.OPEN),
        'order-status-ordered': (order?.status === EOrderStatus.ORDERED),
        'order-status-PD': (order?.status === EOrderStatus.PD),
        'order-status-closed': (order?.status === EOrderStatus.CLOSED)
      }">{{order?.status}}</span>
    </div>

    <div>
      <div class="btns" *ngIf="auth.hasMinAccess(EUserRoles.USER)">
        <button *ngIf="order?.status === EOrderStatus.ORDERED" pButton pRipple type="button" icon="pi pi-tag" label="Generate Bill"
          (click)="onProcessOrder()"></button>
      </div>
    </div>
  </div>

  <div class="dtable">
    <p-table #dt [columns]="cols" [value]="productOrders" [autoLayout]="true" [paginator]="true" [scrollable]="true"
      [rows]="25" [rowsPerPageOptions]="[25,50,100]" [sortField]="cols[1].field" [sortOrder]="1" selectionMode="single"
      [(selection)]="selectedProductOrder" styleClass="p-datatable-sm" [loading]="loadingData">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [ngStyle]="{'width': '25%'}" pSortableColumn="productDisplayName">
            Product
            <p-sortIcon field="productDisplayName"></p-sortIcon>
          </th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="width: 3rem"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td [ngStyle]="{'width': '25%'}"><span><a routerLink="/products/{{rowData.product.id}}/detail">{{rowData.productDisplayName}}</a></span></td>
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
            <span [ngClass]="{
                'productStatus': (col.field === 'status'),
                'status-pending': (col.field === 'status' && rowData[col.field] === EProductOrderStatus.PENDING),
                'status-ordered': (col.field === 'status' && rowData[col.field] === EProductOrderStatus.ORDERED),
                'status-received': (col.field === 'status' && rowData[col.field] === EProductOrderStatus.RECEIVED),
                'status-BO': (col.field === 'status' && rowData[col.field] === EProductOrderStatus.BO)
              }">{{rowData[col.field]}}</span>
          </td>
          <td style="width: 3rem;">
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-sm"
              title="Delete cart" (click)="deleteProductOrder(rowData)" *ngIf="(rowData.status === EProductOrderStatus.ORDERED || rowData.status === EProductOrderStatus.BO) && auth.hasMinAccess(EUserRoles.USER)"></button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</div>
