<div class="page">
    <h1>STOCK</h1>

    <div class="control">
        <div>
            <div class="p-inputgroup">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="search($event.target.value)" placeholder="Search Product" (click)="selectedProduct=null"/>
                </div>
                <p-selectButton [options]="[{name: 'contains', code: false},{name: 'match', code: true}]" class="searchMatchToggle"
                    [(ngModel)]="exactMatch" optionLabel="name" optionValue="code" (onChange)="search()"></p-selectButton>
            </div>
        </div>
        <button pButton pRipple type="button" icon="pi pi-plus" label="New product"
            (click)="showNewProductModal()" *ngIf="auth.hasMinAccess(EUserRoles.USER)"></button>
    </div>

    <p-panel header="Edit product" class="form" [toggleable]="true">
        <app-product-form [currentProduct]="selectedProduct" [isUpdate]=true (refreshTable)="refreshProducts()">
        </app-product-form>
    </p-panel>

    <div class="dtable">
        <p-table #dt [columns]="cols" [value]="products" [autoLayout]="true" [paginator]="true" [scrollable]="true"
            [rows]="10" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['reference','label']"
            [customSort]="true" [sortField]="cols[0].field" (sortFunction)="customSort($event)" selectionMode="single"
            [(selection)]="selectedProduct" styleClass="p-datatable-sm" [loading]="loadingData">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width: 3rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}"
                        (dblClick)="showProductInfoPage(rowData)">
                        {{rowData[col.field]}}
                    </td>
                    <td style="width: 3rem;">
                        <button pButton pRipple type="button" icon="pi pi-info" class="p-button-info p-button-sm"
                            title="Detailed information (history, ...) "
                            (click)="showProductInfoPage(rowData)"></button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>