<div class="navbar" [ngStyle]="(expandSideNav || keepExpanded) && {'width': '12rem'}" [ngClass]="{'expanded': expandSideNav}">
  
  <ul class="navbar-nav">

    <li class="nav-toggle">
      <a class="nav-link" (click)="keepExpanded = !keepExpanded">
        <i class="fas fa-arrow-right" [ngStyle]="(expandSideNav || keepExpanded) && {'transform': 'rotate(180deg)'}"></i>
      </a>
    </li>

    <div class="nav-content" (mouseenter)="expandSideNav = !expandSideNav" (mouseleave)="expandSideNav = !expandSideNav">
      <li class="nav-item">
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-users"></i>
          </span>
          <span class="link-text">Customers</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-car"></i>
          </span>
          <span class="link-text">Cars</span>
        </a>
      </li>
      
      <li class="nav-item" *ngIf="auth.isLoggedIn()" (click)="onLogout()">
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span class="link-text">Log Out</span>
        </a>
      </li>
      
    </div>

  </ul>

</div>