.navbar {
  background-color: #1a1a1a;
  transition: width 450ms ease;
  width: 3.5rem;
  height: 100vh;

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;

    .nav-toggle {
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      justify-content: flex-end;
      margin-right: 1rem;

      .title {
        color: white;
        color: var(--mainGreen);
        font-size:x-large;
        white-space: nowrap;
        margin: 0;
        margin-left: 0.8rem;
        width: 100%;
        text-align: left;
        overflow: hidden;
      }

      .fas {
        width:max-content;
        transition: transform 450ms ease-in-out;
      }
    }

    .nav-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      
      .bottom {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        
        li:last-child {
          margin-top: 1rem;
        }
      }

      .nav-item {
        margin: 0.5rem 0;
        padding: 0.5rem 0;
        border-left: 5px solid transparent;
        transition: 0.3s;

        .nav-link {
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          text-decoration: none;
          overflow-x: hidden;

          .nav-icon {
            width: 3rem !important;
          }

          .link-text {
            color: white;
            font-size:larger;
            white-space: nowrap;
          }
        }
      }

      .nav-item:hover,
      .nav-item.active {
        border-left: 5px solid white;
        outline: none;
      }

      .nav-item:last-child {
        margin: 0 !important;
        margin-bottom: 1rem !important; 
      }
    }
  }

  .fas {
    width: 3rem;
    color: var(--mainGreen);
    font-size: x-large;
  
    .fa-arrow-right {
      font-size: xx-large;
    }
  }

  hr {
    margin: 0;
    margin-bottom: 0.5rem;
    border: none;
    border: 1px solid var(--mainGreen);
  }
}

@keyframes slide-in {
  0%   {padding-right: 200px;}
  100% {padding-right: 0;}
}
@keyframes slide-out {
  0%   {padding-right: 0;}
  100% {padding-right: 200px;}
}

.slideIn {
  animation-name: slide-in;
  animation-duration: 2s;
  padding-right: 0;
}
.slideOut {
  animation-name: slide-out;
  animation-duration: 0.5s;
  padding-right: 200px;
}