.navbar {
  background-color: #1a1a1a;
  transition: width 450ms ease;
  width: 3.5rem;
  height: 100vh;

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;

    .nav-toggle {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      justify-content: flex-end;
      margin-right: 1rem;

      .fas {
        width:max-content;
        transition: transform 450ms ease-in-out;
      }
    }

    .nav-content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      
      .nav-item {
        margin: 1rem 0;
        border-left: 5px solid transparent;

        .nav-link {
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          text-decoration: none;
          overflow-x: hidden;

          .nav-icon {
            width: 3rem !important;
          }

          .link-text {
            color: white;
            font-size:larger;
            white-space: nowrap;
          }
        }
      }

      .nav-item:hover,
      .nav-item.active {
        border-left: 5px solid white;
        outline: none;
      }

      .nav-item:last-child {
        margin-top: auto; 
        margin-bottom: 2rem; 
      }
    }
  }

  .fas {
    width: 3rem;
    color: var(--menuGreen);
    font-size: x-large;
  
    .fa-arrow-right {
      font-size: xx-large;
    }
  }
}

.expanded {
  
}