<div class="navbar" [ngStyle]="(expandSideNav || keepExpanded) && {'width': '12rem'}" [ngClass]="{'expanded': expandSideNav || keepExpanded}">
  <ul class="navbar-nav">

    <li class="nav-toggle">
      <span class="title" [ngClass]="(expandSideNav || keepExpanded)? 'slideIn' : 'slideOut'">SLG tools</span>
      <a class="nav-link" (click)="setKeepExpanded()">
        <i class="fas fa-arrow-right" [ngStyle]="(expandSideNav || keepExpanded) && {'transform': 'rotate(180deg)'}"></i>
      </a>
    </li>
    <hr>
    <div class="nav-content" (mouseenter)="setExpanded()" (mouseleave)="setExpanded()">
      
      <li class="nav-item" routerLinkActive="active" routerLink='products'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-cubes"></i>
          </span>
          <span class="link-text">Stock</span>
        </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" routerLink='workforce'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-briefcase"></i>
          </span>
          <span class="link-text">Workforce</span>
        </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" routerLink='clients'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-user-tie"></i>
          </span>
          <span class="link-text">Clients</span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active" routerLink='cars'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-car"></i>
          </span>
          <span class="link-text">Cars</span>
        </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" routerLink='worksheets'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-file-contract"></i>
          </span>
          <span class="link-text">Worksheets</span>
        </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" routerLink='billing'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-file-invoice-dollar"></i>
          </span>
          <span class="link-text">Billing</span>
        </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" routerLink='suppliers'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-parachute-box"></i>
          </span>
          <span class="link-text">Suppliers</span>
        </a>
      </li>
      
      <li class="nav-item" routerLinkActive="active" routerLink='orders'>
        <a class="nav-link">
          <span class="nav-icon">
            <i class="fas fa-cubes"></i>
          </span>
          <span class="link-text">Orders</span>
        </a>
      </li>
      
      <div class="bottom">
        <li class="nav-item" routerLinkActive="active" routerLink='users'>
          <a class="nav-link">
            <span class="nav-icon">
              <i class="fas fa-users"></i>
            </span>
            <span class="link-text">Users</span>
          </a>
        </li>
        <hr>
        <li class="nav-item" *ngIf="auth.isLoggedIn()" (click)="onLogout()">
          <a class="nav-link">
            <span class="nav-icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span class="link-text">Log Out</span>
          </a>
        </li>
      </div>
      
    </div>

  </ul>
</div>
